.images{
    width: 250px;
    height: 350px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(230, 230, 239);
    padding: 40px;
}
.text_box{
    text-align: center;
    padding: 10px;
    
}
.text_box p, h2{
   color: rgb(14, 14, 55); 
}
.prod-items{
    text-align: center;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(239, 239, 247);
    
}
/* .prod-item{
   color: rgb(57, 57, 95); 
}

.images{
    border-radius: 10px;
}
.images:hover{
    scale: 1.1;
} */